<h1>Complete con el verbo correspondiente</h1>

<div>

    <ol>
      <li>
        <div class="sent">
          The doctor <input type="text" [(ngModel)]="preg1"> the best.
        <p *ngIf="mostrarTodo"><a *ngIf="show1" class="text-success"><i class="bi bi-check2"></i></a>
          <a *ngIf="!show1" class="text-danger"><i class="bi bi-x-lg"></i></a></p>
        </div>
      </li>
      <li>
        <div class="sent">
          Summer <input type="text" [(ngModel)]="preg2"> too hot in Tucumán.
        <p *ngIf="mostrarTodo"><a *ngIf="show2" class="text-success"><i class="bi bi-check2"></i></a>
          <a *ngIf="!show2" class="text-danger"><i class="bi bi-x-lg"></i></a></p>
        </div>
      </li>
      <li class="sent">
        These tables <input type="text" [(ngModel)]="preg3"> broken.
        <p *ngIf="mostrarTodo"><a *ngIf="show3" class="text-success"><i class="bi bi-check2"></i></a>
          <a *ngIf="!show3" class="text-danger"><i class="bi bi-x-lg"></i></a></p>
      </li>
      <li class="sent">
        What time <input type="text" [(ngModel)]="preg4"> it?.
        <p *ngIf="mostrarTodo"><a *ngIf="show4" class="text-success"><i class="bi bi-check2"></i></a>
          <a *ngIf="!show4" class="text-danger"><i class="bi bi-x-lg"></i></a></p>
      </li>
      <li class="sent">
        I <input type="text" [(ngModel)]="preg5"> a teacher.
        <p *ngIf="mostrarTodo"><a *ngIf="show5" class="text-success"><i class="bi bi-check2"></i></a>
          <a *ngIf="!show5" class="text-danger"><i class="bi bi-x-lg"></i></a></p>
      </li>
      <li class="sent">
        Lio Messi and Dibu Martinez <input type="text" [(ngModel)]="preg6"> considered the best football players in this tournament.
        <p *ngIf="mostrarTodo"><a *ngIf="show6" class="text-success"><i class="bi bi-check2"></i></a>
          <a *ngIf="!show6" class="text-danger"><i class="bi bi-x-lg"></i></a></p>
      </li>
      <li class="sent">
        My teacher <input type="text" [(ngModel)]="preg7"> so extrict with us.
        <p *ngIf="mostrarTodo"><a *ngIf="show7" class="text-success"><i class="bi bi-check2"></i></a>
          <a *ngIf="!show7" class="text-danger"><i class="bi bi-x-lg"></i></a></p>
      </li>
      <li class="sent">
        You <input type="text" [(ngModel)]="preg8"> so talented.
        <p *ngIf="mostrarTodo"><a *ngIf="show8" class="text-success"><i class="bi bi-check2"></i></a>
          <a *ngIf="!show8" class="text-danger"><i class="bi bi-x-lg"></i></a></p>
      </li >
      <li class="sent">
        My cat and your dog <input type="text" [(ngModel)]="preg9"> missing.
        <p *ngIf="mostrarTodo"><a *ngIf="show9" class="text-success"><i class="bi bi-check2"></i></a>
          <a *ngIf="!show9" class="text-danger"><i class="bi bi-x-lg"></i></a></p>
      </li>
      <li class="sent">
        My sister and I <input type="text" [(ngModel)]="preg10"> from Tucumán.
        <p *ngIf="mostrarTodo"><a *ngIf="show10" class="text-success"><i class="bi bi-check2"></i></a>
          <a *ngIf="!show10" class="text-danger"><i class="bi bi-x-lg"></i></a></p>
      </li>
      <li class="sent">
        Paul McCarney <input type="text" [(ngModel)]="preg11"> one of The Beatles.
        <p *ngIf="mostrarTodo"><a *ngIf="show11" class="text-success"><i class="bi bi-check2"></i></a>
          <a *ngIf="!show11" class="text-danger"><i class="bi bi-x-lg"></i></a></p>
      </li>
      <li class="sent">
        Your cats <input type="text" [(ngModel)]="preg12"> in the garden.
        <p *ngIf="mostrarTodo"><a *ngIf="show12" class="text-success"><i class="bi bi-check2"></i></a>
          <a *ngIf="!show12" class="text-danger"><i class="bi bi-x-lg"></i></a></p>
      </li>

    </ol>
    <button class="btn btn-primary" (click)="mostrarResp()">Ok</button>

</div>

