<div class="container">

  <div class="row">
    <div >
      <h1 style="text-align: center;">
        Clase Uno
      </h1>

    <div *ngIf="menu">
      <button class="" (click)="Seleccion1()">Ejercicio 1</button>
      <br>
      <button class="" (click)="Seleccion2()">Ejercicio 2</button><br>
      <button class="" (click)="seleccion3()">Ejercicio 3</button><br>
      <button class="" (click)="seleccion4()">Ejericio 4</button><br>
      <button class="" (click)="seleccion5()">Ejericio 5</button><br>
    </div>
    <div *ngIf="tarea1">
      <app-pron-drag-drop></app-pron-drag-drop>
      <button class="btn btn-primary" (click)="Seleccion2()">Siguiente</button>
    </div>
    <div *ngIf="tarea2">
      <app-to-be-drap-drp></app-to-be-drap-drp>
      <button (click)="seleccion3()" class="btn btn-primary">Siguiente</button>
    </div>
    <div *ngIf="tarea3">
      <app-to-be-select-opt></app-to-be-select-opt>
      <button (click)="seleccion4()" class="btn btn-primary">Siguiente</button>
    </div>
    <div *ngIf="tarea4">
      <app-to-be-input></app-to-be-input>
      <button (click)="seleccion5()" class="btn btn-primary">Siguiente</button>
    </div>
    <div *ngIf="tarea5" class="btn btn-primary">
      <app-to-be-radio></app-to-be-radio>
    </div>

    </div>

    <div *ngIf="!menu">
      <button class="btn btn-secondary" (click)="volverAlMenu()">Menu</button>
    </div>


  </div>

</div>
