<div id="todo">
  <div class="container">

    <div class="row">
      <div >
        <h3 style="text-align: center;">
          Clase Uno
        </h3>

      <div *ngIf="menu" style="text-align: center;">
        <button class="botonst" (click)="Seleccion1()">Dias de la Semana</button>
        <br>

      </div>
      <div *ngIf="tarea1">
        <app-drag-drop-dias></app-drag-drop-dias>
        <div style="text-align: end;">
          <button class="btn btn-primary" (click)="Seleccion2()" style="text-align: right;">Siguiente</button>
        </div>
      </div>

      </div>

      <div *ngIf="!menu">
        <button class="btn btn-secondary" (click)="volverAlMenu()">Menu</button>
      </div>


    </div>

  </div>

</div>

