<div id="todo">
  <div class="container">
    <div>
      <p>
        <button class="botonst" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Lista de Clases
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <button class="botonsnd" routerLink="/clase1">Clase 1</button>
        </div>
      </div>
    </div>
    <div>
      <p>
        <button class="botonst" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
          Vocabulario
        </button>
      </p>
      <div class="collapse" id="collapseExample2">
        <div class="card card-body">
          <button class="botonsnd" routerLink="/calendar">Calendario</button>
        </div>
      </div>
    </div>
  </div>
</div>
